/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.rss-card-editor {
	width: 100%;
	border: 1px dotted #ccc;
	padding: 5px;
	margin-bottom: 1em;
}

.rss-card-editor .rss-card__link {
	pointer-events: none;
}

