/**
 * The following styles get applied inside the editor only.
 */

.sbird-latest-feed-card-block-editor {
	width: 100%;
	border: 1px dotted #ccc;
	padding: 5px;
	margin-bottom: 1em;

	.sbird-latest-feed-card-block__link {
		pointer-events: none;
	}
}
